{% extends 'components/base.html' %}
{% block content %}

    <!--Banner Start-->
    <section class="main-inner-banner-pri jarallax" data-jarallax data-speed="0.2" data-imgPosition="50% 0%" style="background-image: url(/static/images/privacy.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="banner-in-title">
                        <h1 class="h1-title" style="color:#fd3d0c">Refund Policy</h1>
                    </div>
              
                </div>
            </div>
        </div>
    </section>
    <!--Banner End-->

    <!--refund policy Start-->
<section class="main">
    <div class="container">
           
            <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="main-text"  >
                 
                            <span>
                                <br><br>
                                Last updated date: September 15, 2022 <br>
                             <div class="privacy-bar">
                                 <ul>
                                    <li><a href="">1. GENERAL</a></li>
                                </ul>
                            </div><br>
                                <p>a. This website with the URL of <a href="{% url 'home' %}"> www.gogetfitonline.com </a>("Website/Site") is
                                operated by <b>GOGETFIT PRIVATE LIMITED</b> ("We/Our/Us").</p>
                                <p>b. We are committed to providing Our customers with the highest quality
                                Services. However, on rare occasions, Services may be found to be deficient. In
                                such cases, We offer refund in accordance with this Refund Policy ("Policy").</p>
                                <p>c. You are advised to read Our Terms and Conditions along with this Policy at
                                the following webpage: <a href="{% url 'terms' %}"> gogetfitonline.com/home/Terms_and_Conditions/</a>.</p>
                                <p>d. By using this website, You agree to be bound by the terms contained in this
                                Policy without modification. If You do not agree to the terms contained in this
                                Policy, You are advised not to transact on this website.</p>
                                <p>e. We offer a 15 days refund Policy for the eligible Services.</p>
                                <p>f. Please read this Policy before availing service on this Website, so that You
                                understand Your rights as well as what You can expect from Us if You are not
                                happy with Your purchase.</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">2. DEFINITIONS</a></li>
                                   </ul>
                               </div><br>
                                <p>a. "Business Days" - means a day that is not a Saturday, Sunday, public
                                holiday, or bank holiday in India or in the state where our office is located.</p>
                                <p>b. "Customer" - means a person who avails services for consideration and does
                                not include commercial purchases.</p>
                                <p>c. "Date of Transaction" - means the date of invoice of the service, which
                                includes the date of renewal processed in accordance with the terms and
                                conditions of the applicable service agreement.</p>
                                <p>d. "Website" - means this website with the URL: <a href="{% url 'home' %}">www.gogetfitonline.com</a>.</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">3. REFUNDS RULES</a></li>
                                   </ul>
                               </div><br>
                               <p> a. Every effort is made so as to service the orders placed, as per the
                                specifications and timelines mentioned with respect to a Services. If due to any
                                unforeseen circumstances or limitations from Our side, the service is not
                                provided then such order stands cancelled and the amount paid by You is
                                refunded.</p>
                                <p>b. We will not process a refund if You have placed the order for the wrong
                                service.</p>
                                <p>c. When you make a qualifying refund request. We may refund the full amount,
                                less any additional cost incurred by Us in providing such Services.</p>
                                <p>d. Refund shall only be considered once the Customer concerned produces
                                relevant documents and proof.</p>
                                <p>e. Once qualified, the refunds are applied to the original payment option.</p>
                                <p>f. The request for a refund of Services can be made in the following manner:</p>
                                <p>You can write us on support@gogetfitonline.com or</p>
                                <p>prajwal@gogetfitonline.com</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">4. ORDER NOT CONFIRMED BUT AMOUNT DEDUCTED</a></li>
                                   </ul>
                               </div><br>
                                <p>a. If the amount has been deducted and the order is not confirmed, please do
                                contact Your respective bank. It takes 7 (seven) Business Days to reverse back
                                the amount by the respective bank.</p>
                                <p>b. If the issue has not been resolved within 7 (seven) Business Days, you can
                                contact Our customer care support as follows: <br><ul>support@gogetfitonline.com,</ul>
                                <ul>8951780811.</ul></p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">5. EXEMPTIONS</a></li>
                                   </ul>
                               </div><br>
                                <p>a. Notwithstanding the other provisions of this Policy, We may refuse to provide a
                                refund for a service if:</p>
                                <ul>I. You knew or were made aware of the problem(s) with the service before
                                you availed it.</ul>
                               <ul> II. Free Services.</ul>
                                <ul>III. Refund requests are placed after the refund window is closed.</ul>
                                <p>b. Apart from the above, the following exemptions are applicable when it comes
                                to the refund:</p>
                                <p>For any GOGETFIT plan (challenge) selected, under challenging a coach
                                are non-refundable.</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">6. YOUR DATA</a></li>
                                   </ul>
                               </div><br>
                                <p>The privacy of your data supplied to Us during the return and refund procedure is
                                also governed by our privacy policy, which can be accessed under the following
                                link: <a href="{% url 'privacy_policy' %}">gogetfitonline.com/home/privacy/</a>.</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">7. RESPONSE TIME</a></li>
                                   </ul>
                               </div><br>
                                <p>a. Refunds are normally processed within 7 Business Days after checking the
                                veracity of the refund request.</p>
                                <p>b. The period of refund may also depend on various banking and payment
                                channels, and We will not be liable for any errors or delays in a refund due to
                                banks or third-party service providers.</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">8. CANCELLATION OF RETURN REQUEST</a></li>
                                   </ul>
                               </div><br>
                               <p> A request for return or refund once made can be cancelled by contacting
                                customer care at support@gogetfitonline.com, 8951780811.</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">9. REFUSAL OF RETURN OR REFUND REQUEST</a></li>
                                   </ul>
                               </div><br>
                               <p> We reserve the right to refuse any request for a refund if such request is not in
                                compliance with this Policy or applicable laws.</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href="">10. CHANGES TO THIS POLICY</a></li>
                                   </ul>
                               </div><br>
                                <p>a. Please note that We may from time to time change the terms of this Policy and
                                every time You wish to use this website, please check the Policy to ensure You
                                understand the terms and conditions that apply at that time.</p>
                                <p>b. If you do not wish to accept the revised Policy, you should not continue to use
                                the Services. If you continue to use the Services after the date on which the
                                changes, come into effect, Your use of the Services indicates your agreement to
                                be bound by the new Refund Policy.</p>
                                
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href=""> 11. FORCE MAJEURE</a></li>
                                   </ul>
                               </div><br>
                                <p>We shall not be considered in breach of guarantee or terms of service and shall
                                not be liable to the Customer for any cessation, interruption, or delay in the
                                performance of its obligations by reason beyond Our control including natural
                                disasters, pandemics, fire, an act of God or public enemy, famine, plague, the
                                action of the court or public authority, change in law, explosion, war, terrorism,
                                armed conflict, labour strike, lockout, boycott or similar event beyond our
                                reasonable control, whether foreseen or unforeseen.</p>
                                <div class="privacy-bar">
                                    <ul>
                                       <li><a href=""> 12. CONTACT US</a></li>
                                   </ul>
                               </div><br>
                                <p>For any feedback, concern, or query, You may please reach out to Us on the
                                contact details below.</p>
                                <ul>Customer Care: support@gogetfitonline.com,</ul> 
                                <ul>8951780811</ul>
                                

                            </span>


                        </div>
                    </div>
    </div>
</section>
<!--refund policy End-->

    {% endblock %}
